<div class="c-nav">
  <div class="c-nav--contents">
    <div class="c-nav--name"><a href="index.html"><%= image_tag 'logo.png' %></a></div>
    <nav>
      <%= link_to 'About', '/about.html' %>
    </nav>
  </div>
</div>