.c-hint {
  position: absolute;
  width: 8%;
  top: 35%;
  right: 0;
  transform: translateX(-10vw);
  opacity: 0;
  z-index: -999;

  animation-name: hint;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;

  @include bp($breakpoint) {
    animation-name: none;
  }
}

@keyframes hint {
  0% {transform: translateX(-10vw);opacity: 0;z-index: 999;}
  15% {transform: translateX(-10vw);opacity: 0.5;z-index: 999;}
  85% {transform: translateX(-80vw);opacity: 0.5;z-index: 999;}
  100% {transform: translateX(-80vw);opacity: 0;z-index: 999;}
}