/**
 *   Here's where everything gets included. You don't need
 *   to change anything here, and doing so might break
 *   stuff. Here be dragons and all that.
 */
/**
 *   Default variables
 *
 *   While these can be set with JavaScript, it's probably
 *   better and faster to just set them here, compile to
 *   CSS and include that instead to use some of that
 *   hardware-accelerated goodness.
 */
.unslider {
  position: relative;
  margin: 0;
  padding: 0;
  @include bp($breakpoint) {
    position: static;
  }
}
.unslider-wrap {
  position: relative;

  li {
    @include bp($breakpoint) {
      padding: 0 1rem !important;
    }
  }
}
.unslider-wrap.unslider-carousel > li {
  float: left;
}
.unslider-vertical > ul {
  height: 100%;
}
.unslider-vertical li {
  float: none;
  width: 100%;
}
.unslider-fade {
  position: relative;
}
.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8;
}
.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10;
}
.unslider ul, .unslider ol, .unslider li {
  list-style: none;
  /* Reset any weird spacing */
  margin: 0;
  padding: 0;
  border: none;
}
.unslider-arrow {
  position: absolute;
  left: 0px;
  z-index: 2;
  cursor: pointer;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include bp($breakpoint) {
    height: 74.5%;
  }
}
.unslider-arrow.next {
  justify-content: flex-end;
  left: auto;
  right: 0px;
}

.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}

.arrow-next,
.arrow-back {
  height: 30px;
  width: 40px;
  background-image: image-url('next.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.arrow-back {
  background-image: image-url('prev.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.c-slider {
  &--text {
    padding: 1rem 2rem;
  }
}















